
<div class="publications">
  I have released the code in my Github <img src="https://img.shields.io/badge/dynamic/json?url=https://raw.githubusercontent.com/shizhl/github-stars-badge/master/stars.json&label=Stars&query=$.total&logo=github&logoColor=white&color=gold&style=flat-square" alt="Github" style="display: inline-block; vertical-align: text-bottom; height: 1.1em; margin: 0 0.2em;">.
  Feel free to check it out and chat with me if you have any questions.
  <br>
  {% bibliography -f {{ site.scholar.bibliography }} -q @*[selected=true]* %}
</div>
